* {
  margin: 0;
  padding: 0;
}

@media screen and (prefers-color-scheme: dark) {
  body {
    color: #efefef;
    background-color: #282525;
  }

  a,
  a:visited,
  a:hover {
    color: orange;
  }

  blockquote {
    border-left: 3px solid orange;
  }

  img, iframe {
    background-color: #efefef;
  }
}

@media screen and (prefers-color-scheme: light) {
  body {
    color: black;
    background-color: white;
  }

  a,
  a:visited,
  a:hover {
    color: red;
  }

  blockquote {
    border-left: 3px solid red;
  }
}

body {
  box-sizing: border-box;
  font-size: 13pt;
  font-family: "PT Serif", serif;
  line-height: 1.5;
  margin: 1em;
}

header {
  text-align: center;
}

hr {
  margin: 0.5em 0;
  margin-bottom: 1.5em;
}

.small {
  font-size: smaller;
}

blockquote {
  padding-left: 0.3em;
  margin: 0.5em auto;
  font-style: italic;
}

img {
  display: block;
  max-width: 100% !important;
  height: auto !important;
  margin: 0.5em auto;
}

iframe {
  width: 100%;
  min-width: max-content !important;
  min-height: max-content !important;
  margin: 0.5em auto;
  border: none;
}

p {
  text-align: justify;
  margin: 0.5em 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0.5em 0;
  font-size: 110%;
}

ul {
  list-style: disc;
}

li,
li {
  margin-left: 1.5em;
}

pre,
code {
  overflow-x: auto;
}

code {
  font-family: "Fira Code";
  font-size: 10pt;
}
