$font_family: "PT Serif", serif;
$font_size: 12;
$mono_font_family: "Fira Code", monospaced;
$mono_font_size: 10;
$line_height: 1.5;
$border_size: 5px;
$spacing: 0.5em;

$light_theme_foreground_color: black;
$light_theme_background_color: white;
$light_theme_accent_color: blue;
$dark_theme_foreground_color: #efefef;
$dark_theme_background_color: #282525;
$dark_theme_accent_color: orange;


* {
  margin: 0;
  padding: 0;
}

@media screen and (prefers-color-scheme: dark) {
  body {
    color: $dark_theme_foreground_color;
    background-color: $dark_theme_background_color;
  }

  h1 a {
    text-decoration: none;
    color: $dark_theme_accent_color;
  }

  article a {
    color: $dark_theme_accent_color;
    text-decoration: underline;
    font-weight: bold;
  }

  a:hover {
    color: $dark_theme_accent_color;
  }

  blockquote {
    border-left: $border_size solid $dark_theme_accent_color;
    border-right: $border_size solid $dark_theme_accent_color;
  }

  img,
  iframe {
    background-color: $dark_theme_foreground_color;
  }

  .small {
    color: $dark_theme_foreground_color;
  }
}

@media screen and (prefers-color-scheme: light) {
  body {
    color: $light_theme_foreground_color;
    background-color: $light_theme_background_color;
  }

  h1 a {
    text-decoration: none;
    color: $light_theme_accent_color;
  }

  article a {
    color: $light_theme_accent_color;
    text-decoration: underline;
    font-weight: bold;
  }

  a:hover {
    color: $light_theme_accent_color;
  }

  blockquote {
    border-left: $border_size solid $light_theme_accent_color;
    border-right: $border_size solid $light_theme_accent_color;
  }

  img,
  iframe {
    background-color: $light_theme_foreground_color;
  }

  .small {
    color: $light_theme_foreground_color;
  }
}

body {
  box-sizing: border-box;
  font-size: #{$font_size + "pt"};
  font-family: $font_family;
  line-height: $line_height;
  margin: #{2 * $spacing};
}

header {
  text-align: center;
}

hr {
  margin: $spacing 0;
  margin-bottom: #{3 * $spacing};
}

.small {
  font-size: smaller;
}

blockquote {
  padding-left: $spacing;
  padding-right: $spacing;
  margin: $spacing auto;
  font-style: italic;
}

img {
  display: block;
  max-width: 100% !important;
  height: auto !important;
  margin: $spacing auto;
}

iframe {
  width: 100%;
  min-width: max-content !important;
  min-height: max-content !important;
  margin: $spacing auto;
  border: none;
}

p {
  text-align: justify;
  margin: $spacing 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: $spacing 0;
  font-size: 110%;
}

h1 {
  max-width: 50%;
  margin: $spacing auto;
}

ul {
  list-style: disc;
}

li {
  margin-left: #{3 * $spacing};
}

pre,
code {
  overflow: auto;
  font-family: $mono_font_family;
  font-size: #{($mono_font_size) + "pt"};
}
