* {
  margin: 0;
  padding: 0;
}

@media screen and (prefers-color-scheme: dark) {
  body {
    color: #efefef;
    background-color: #282525;
  }

  a,
  a:visited,
  a:hover {
    color: orange;
  }

  blockquote {
    border-left: 3px solid orange;
  }
}

@media screen and (prefers-color-scheme: light) {
  body {
    color: black;
    background-color: white;
  }

  a,
  a:visited,
  a:hover {
    color: red;
  }

  blockquote {
    border-left: 3px solid red;
  }
}

body {
  font-size: 13pt;
  font-family: "PT Serif", serif;
  margin: 1em;
  line-height: 1.5;
  box-sizing: border-box;
}

#bodyContainer {
  width: 100%;
}

blockquote {
  font-style: italic;
  padding-left: 0.3em;
}

img,
figure,
video,
iframe,
embed,
object {
  max-width: 100% !important;
  height: auto !important;
  margin: 0.5em auto;
}

p {
  text-align: justify;
  margin: 0.5em 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0.5em 0;
  font-size: 110%;
}

ul li,
ol li {
  margin-left: 1.5em;
}

pre,
code {
  overflow-x: auto;
}

code {
  font-family: "Fira Code";
  font-size: 10pt;
}
