$light_theme_foreground_color: black;
$light_theme_background_color: white;
$light_theme_accent_color: blue;
$dark_theme_foreground_color: #efefef;
$dark_theme_background_color: #282525;
$dark_theme_accent_color: orange;

* {
  margin: 0;
  padding: 0;
}

@media screen and (prefers-color-scheme: dark) {
  body {
    color: $dark_theme_foreground_color;
    background-color: $dark_theme_background_color;
  }

  h1 a {
    text-decoration: none;
    color: $dark_theme_accent_color;
  }

  article a {
    color: $dark_theme_accent_color;
    text-decoration: underline;
    font-weight: bold;
  }

  a:hover {
    color: $dark_theme_accent_color;
  }

  blockquote {
    border-left: 3px solid $dark_theme_accent_color;
    border-right: 3px solid $dark_theme_accent_color;
  }

  img,
  iframe {
    background-color: $dark_theme_foreground_color;
  }

  .small {
    color: $dark_theme_foreground_color;
  }
}

@media screen and (prefers-color-scheme: light) {
  body {
    color: $light_theme_foreground_color;
    background-color: $light_theme_background_color;
  }

  h1 a {
    text-decoration: none;
    color: $light_theme_accent_color;
  }

  article a {
    color: $light_theme_accent_color;
    text-decoration: underline;
    font-weight: bold;
  }

  a:hover {
    color: $light_theme_accent_color;
  }

  blockquote {
    border-left: 3px solid $light_theme_accent_color;
    border-right: 3px solid $light_theme_accent_color;
  }

  img,
  iframe {
    background-color: $light_theme_foreground_color;
  }

  .small {
    color: $light_theme_foreground_color;
  }
}

body {
  box-sizing: border-box;
  font-size: 13pt;
  font-family: "PT Serif", serif;
  line-height: 1.5;
  margin: 1em;
}

header {
  text-align: center;
}

hr {
  margin: 0.5em 0;
  margin-bottom: 1.5em;
}

.small {
  font-size: smaller;
}

blockquote {
  padding-left: 0.5em;
  padding-right: 0.5em;
  margin: 0.5em auto;
  font-style: italic;
}

img {
  display: block;
  max-width: 100% !important;
  height: auto !important;
  margin: 0.5em auto;
}

iframe {
  width: 100%;
  min-width: max-content !important;
  min-height: max-content !important;
  margin: 0.5em auto;
  border: none;
}

p {
  text-align: justify;
  margin: 0.5em 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0.5em 0;
  font-size: 110%;
}

h1 {
  max-width: 50%;
  margin: 0.5em auto;
}

ul {
  list-style: disc;
}

li {
  margin-left: 1.5em;
}

pre,
code {
  overflow-x: auto;
}

code {
  font-family: "Fira Code";
  font-size: 10pt;
}
