* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 13pt;
  font-family: "PT Serif", serif;
  margin: 1em;
  line-height: 1.5;
}

#bodyContainer {
  width: 100%;
}

img,
figure,
video,
object {
  max-width: 100%;
  height: auto !important;
  margin: 0.5em auto;
}

p {
  text-align: justify;
  margin: 0.5em 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0.5em 0;
}

ul li,
ol li {
  margin-left: 1.5em;
}

pre, code {
  font-family: "Fira Code";
  font-size: 10pt;
}
